/* Estilos para el formulario */
.container{
  gap: 20px;
  display: grid;
  width: 100%;
}
h1 {
  text-align: center;
}

form {
  width: 40%;
  margin: 0 auto;
  background-color: #c8c7a8;
  padding: 32px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  display: grid;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #21B0FA;
  color: white;
  padding: 10px 20px;
  margin-left: 50%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: grid;
  gap 20px;
}

input[type="submit"]:hover {
  background-color: #21b0fa;
}

header {
  background-color: #21b0fa;
  color: #fff;
  /* Cambia el color del texto a blanco */
  padding: 10px;
  padding-left: 0%;
  margin-top: -6%;
  margin-left: -6%;
  margin-right: -6%;
}