.icons {
    display: flex; 
    flex-flow: row ;
    justify-content: space-between;
    padding: .825rem;
    /*    */
}
.tienda{
    display: flex;
    flex-direction: row;
}


.productos{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding: 27px;
       
}

.productos div{
    border: 1px black;
    padding: 30px;
    text-align: center;
    line-height: 18.75rem;
   
}

.imagenes1 div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 35px;
    line-height: 60px;
       
    
}

.imagenes2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 35px;
    line-height: 60px;
   
}

.imagenes3 div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 35px;
    line-height: 60px;
    
}

ul{
    list-style-type: none;
}







/* .productos{
    box-sizing: border-box;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100vh;
    background-color: gray;
    position: absolute;
    top: 40%;
    left: 25%;  
}

.productos div{
width: 80px;
background-color: blue;
} */

