*{
    box-sizing: border-box;
    
}
header{
    position: absolute;
    background: #21b0fa; 
    margin: 0px;
    height: 4rem;
    width: 100%;
    top: 0;
}
footer{
    position: absolute;
    background: #12C7E3;
    margin:-4px;
    height: 4rem;
    width: 100%;
    bottom: .3125rem;
    
}
/* header{
    position: relative;
    background: #21b0fa; 
    height: 4rem;
    width: 500px;
    margin-bottom: 41.5625rem;
    margin-top: 16px;
    top: 0px;
    right: 0px;
   
}
footer{
    position: relative;
    background: #12C7E3;
    margin-bottom: 0rem ;
    margin-top: 40.5625rem ;
    height: 4rem;
    width: 100%;
   
    
} */