/* A #1451FB, B #1273E3, C #21B0FA, D #12C7E3, E #3BFFF0, Ngro #000000, blco #ffffff, Grs #C9C9C9 */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.login-box a{
    border-radius: 0.9em;
    background: #1451FB;
    text-align: center;
    color: #fff;
    padding: 0.5rem;
}
div login-box,user-box{
    align-content: center;
}
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}
.boxinicio{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: absolute;
    width: 60.5rem;
    height: 22.75rem;
    padding: 2.5rem;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#fff;
    border-radius: 10px;
}
.login-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    width: 19rem;
    height: 16rem;
    box-shadow: 0 1px 1px#1273E3;
    
}
.imgbox{
    background-color: #c9c9c9;
    width: 19rem;
    height: 16rem;
    border-radius: .625rem;
    text-align: center;
    box-shadow: 0 1px 1px#1273E3;

}

a{
    text-decoration: none;
}

/* .login-box{
    display: flex;
    flex-direction: column;
    
    top: 40%;
    left: 25%;
    width: 20.5rem;
    height: 18.75rem;
    padding: 2.5rem;
    transform: translate(-50%,-50%);
    
    box-shadow: 0 15px 25px#1273E3;
    
    align-items: center;
}       
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color:#000000;
    text-align: center;
}
.login-box a {
    margin: 0 0 30px;
    padding: 0;
    color:#fff;
    
    
}
.imgbox{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: #c9c9c9;
    box-shadow: 0 15px 25px#1273E3;
    border-radius: 10px;
    width: 20.5rem;
    height: 18.75rem;
    padding: 2.5rem;
    
} */


/*.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~
 label,
 .login-box .user-box input:valid ~ 
 label {
    top: -20px;
    left: 0;
    color: #21b0fa;
    font-size: 12px;
}
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color:#21b0fa;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow-y: hidden;
    transition: 05s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-box a:hover{
    background: #21b0fa;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #21b0fa;
}
     

 */